{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
    <div class="container my-4">
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('app_login') }}" method="post">
            <label for="username">Email:</label>
            <input type="email" id="username" name="_username" value="{{ last_username }}" />

            <label for="password">Password:</label>
            <input type="password" id="password" name="_password" />

            {# If you want to control the URL the user is redirected to on success #}
            <input type="hidden" name="_target_path" value="{{ path('adminOrders') }}" />

            <button type="submit">Acceder</button>
        </form>
    </div>
{% endblock %}
{% block footer %}
    <footer class="bg-light text-center py-3">
        <a href="{{ path('home') }}" class="btn btn-primary">
            <i class="fas fa-home"></i> Regresar a la página principal
        </a>
    </footer>
{% endblock %}