{% extends 'base.html.twig' %}
{% block title %}Carrito de la compra - Tienda UOC{% endblock %}
{% block body %}
    {# dump(cart) #}
    <div class="container my-4">
        <h1 class="text-center">Carrito</h1>
        <div class="row justify-content-center">
            {% if not cart or cart.products is empty %}
                <p class="text-center">Tu carrito está vacío. ¡Anímate a comprar algo de nuestro <a href="{{ path('home') }}">catálogo</a>!</p>
            {% else %}
                {% include 'front/common/cart-products.html.twig' %}
            {% endif %}
        </div>
        {% if cart and cart.products is not empty %}
            <div class="row justify-content-center">
                <p class="text-center" style="font-size: 1.2em; color: #007BFF;">
                    <span class="fw-bold">Precio total:</span> {{ (cartService.calculateTotalAmount()/100)|number_format(2, ',') }} EUR
                </p>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="text-center col-md-4">
                    <a href="{{ path('home') }}" class="btn btn-success">Continuar comprando</a>
                </div>
                <div class="text-center col-md-4">
                    <a href="{{ path('checkout') }}" class="btn btn-primary">Checkout</a>
                </div>
                <div class="text-center col-md-4">
                    <a href="{{ path('empty_cart') }}" class="btn btn-danger">Vaciar carrito</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}