{% extends 'base.html.twig' %}
{% block title %}Carrito de la compra - Tienda UOC{% endblock %}
{% block body %}
    {# dump(cart) #}
    <div class="container my-4">
        <h1 class="text-center">Carrito</h1>
        <div class="row justify-content-center">
            {% if cart is empty %}
                <p class="text-center">Tu carrito está vacío. ¡Anímate a comprar algo de nuestro <a href="{{ path('home') }}">catálogo</a>!</p>
            {% endif %}
            {% for productId, item in cart %}
                <div class="col-md-6 col-lg-3 mb-4">
                    <div class="card">
                        <img src="{{ asset('assets/' ~ item['imgPath']) }}" class="card-img-top" alt="{{ item['name'] }}" />
                        <div class="card-body">
                            <h6 class="card-title" style="-webkit-line-clamp: 2; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;">{{ item['name'] }}</h6>
                            <p class="card-text text-center">Unidad a {{ (item['price']/100)|number_format(2, ',') }} EUR</p>
                            <div class="input-group">
                                <a href="{{ path('cart_remove', {'id' : productId}) }}" class="btn btn-outline-secondary" type="button">
                                    <i class="fa-solid fa-minus"></i>
                                </a>
                                <input type="text" class="form-control text-center" value="{{ item['quantity'] }}" readonly />
                                <a href="{{ path('cart_add', {'id' : productId}) }}" class="btn btn-outline-secondary" type="button">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </div>
                            <div class="mt-2 text-center">
                                <a href="{{ path('cart_remove', {'id': productId}) }}" class="btn btn-danger mt-2 text-center">Eliminar</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if cart is not empty %}
            <div class="row justify-content-center">
                <p class="text-center" style="font-size: 1.2em; color: #007BFF;">
                    <span class="fw-bold">Precio total:</span> {{ (cartService.calculateTotalAmount()/100)|number_format(2, ',') }} EUR
                </p>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="text-center col-md-4">
                    <a href="{{ path('home') }}" class="btn btn-success">Continuar comprando</a>
                </div>
                <div class="text-center col-md-4">
                    <a href="{{ path('checkout') }}" class="btn btn-primary">Checkout</a>
                </div>
                <div class="text-center col-md-4">
                    <a href="{{ path('empty_cart') }}" class="btn btn-danger">Vaciar carrito</a>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}