{% for productId, item in cart.products %}
    <div class="col-md-6 col-lg-3 mb-4">
        <div class="card">
            <img src="{{ asset('assets/' ~ item['imgPath']) }}" class="card-img-top" alt="{{ item['name'] }}" title="{{ item['name'] }}" />
            <div class="card-body">
                <h6 class="card-title" style="-webkit-line-clamp: 2; overflow: hidden; display: -webkit-box; -webkit-box-orient: vertical;">{{ item['name'] }}</h6>
                <p class="card-text text-center">Unidad a {{ (item['price']/100)|number_format(2, ',') }} EUR</p>
                <div class="input-group">
                    <a href="{{ path('cart_remove', {'id' : productId}) }}" class="btn btn-outline-secondary" type="button">
                        <i class="fa-solid fa-minus"></i>
                    </a>
                    <input type="text" class="form-control text-center" value="{{ item['quantity'] }}" readonly />
                    <a href="{{ path('cart_add', {'id' : productId}) }}" class="btn btn-outline-secondary" type="button">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
                <div class="mt-2 text-center">
                    <a href="{{ path('cart_remove', {'id': productId}) }}" class="btn btn-danger mt-2 text-center">Eliminar</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}